@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-stone-900 text-stone-100;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-stone-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-600 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
